body{
    background-color: green;
}

h1{
    text-align: center;
    color:purple;
}

p{
    font-size: 10px;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
}
